body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #000;
}

header {
    background-color: #000000;
    color: white;
    padding: 10px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.admin-content {
    padding: 20px;
    margin: auto;
    width: 80%;
    background-color: #000000;
    color: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

input, textarea, button {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
}

/* Background video */
#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background-size: cover;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .product {
        width: calc(50% - 20px);
    }
}

